<%- layout("layouts/home/boilerplate") %>

<div class="profile-image__form__container">
  <form
    class="profile-image__form"
    action="/home/profile"
    method="POST"
    enctype="multipart/form-data"
  >
    <h2>Change profile picture</h2>

    <div class="profile-image__field">
      <label class="image-label" for="profile-image"></label>
      <input type="file" id="profile-image" name="profile-image" />
    </div>
    <button type="submit" class="profile-image__submit-btn">
      Submit change
    </button>
  </form>
</div>
