<div id="banner">
  <img class="banner-img" src="/img/birds-sunset-wallpaper.jpeg" alt="" />
</div>

<div class="heading">
  <div class="profile heading-item">
    <a href="/home">
      <% if (currentUser.profile.image.url) { %>
      <img
        class="profile__image"
        src="<%= currentUser.profile.image.url %>"
        alt=""
      />
      <% } else { %>
      <img class="profile__image" src="/img/abstract_floral.jpeg" alt="" />
      <% } %>
    </a>
    <a class="profile__edit" href="/home/profile">Change profile picture</a>
  </div>
  <!-- <div>
    <a href="/home">Home</a>
  </div> -->
  <div class="greeting heading-item">
    <p><%= greeting %></p>
  </div>
  <div class="logout heading-item">
    <form action="/logout" method="POST">
      <button class="logout-btn">Log Out</button>
    </form>
  </div>
</div>
