/* Flash */
.flash-container {
  display: flex;
  justify-content: center;

  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
}

.flash-success {
  background-color: rgba(129, 175, 128, 0.3);
  color: #6b6b6b;
  padding: 3px 5px;
  margin: 5px 0;
}

.flash-error {
  background-color: rgba(240, 172, 172, 0.3);
  color: #6b6b6b;
  padding: 3px 5px;
  margin: 5px 0;
}

@media only screen and (max-width: 480px) {
  .flash-success,
  .flash-error {
    font-size: 0.8rem;
  }
}
